@import "./stuff/global";

// @import "header";

header {
		display: flex;
		// display: none;
		width: 100%;
		height: 8.3rem;
		color: $grey100;
		border-bottom: 0.1rem solid $grey010;
		align-items: flex-end;
		@media (min-width: 768px) {
			text-align: left;
		}
		@media (min-width: 1440px) {
			justify-content: space-between;
		}
		.list_title {
			font-size: 2.4rem;
			width: 16rem;
			height: 3.3rem;
			text-align: left;
			margin-bottom: 1rem;
		}
		.list_view_icons {
			display: none;
			cursor: pointer;
			width: 6.6rem;
			height: 1.8rem;
			margin-bottom: 1.8rem;
			@media (min-width: 1440px) {
				display: flex;
				align-items: center;
			}
			.table_view {
				width: 3.3rem;
				height: 1.8rem;
				background: url(../img/icon_table_view.png) no-repeat 0% 50%;
			}
			.card_view {
				width: 3.3rem;
				height: 1.8rem;
				border-left: 0.1rem solid $grey010; 
				background: url(../img/icon_card_view.png) no-repeat 100% 50%;;
			}
		}
}
.container {
	width: $containerlarge;
	margin: 0 auto;
	@media (max-width: 1439px) {
		width: $containerdesktop;
	}
	@media (max-width: 1024px) {
		width: $containertablet;
	}
	@media (max-width: 768px) {
		width: $containermobile;
	}
	.grid_view_wrapper{
		// display: flex;
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: 1024px) {
			margin: 0 3rem;
		}
		@media (max-width: 768px) {
			margin: 0 1.7rem;
		}
		
		
		@import "card";  //   Карточка во внешнем файле _card
	}
	.table_view_wrapper {
		display: table;
		// background-color: red;
		// display: none;
		ul {
			display: table-row;
		}
		li {
			display: table-cell;
			width: 200px;
			height: 80px;
			border: 0.1rem solid $grey010;
			text-align: center;
			vertical-align: middle;
			// background-color: red;
		}
		.table_header {
			display: table-header-group;
			li {
				vertical-align: top;
				border: none;
				padding-top: 3rem;
				text-transform: uppercase;
				letter-spacing: .1rem;
				font-size: 1rem;
				font-weight: 600;
				color: $grey040;
				text-align: left;
			}
		}
		.table_body {
			display: table-row-group;
			li {
				&:nth-child(1) {   		// first column
				.company-cell {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					width: 18rem;
					img {
						width: 4rem;
						height: 4rem;
					}
					.company {
						margin-left: 2rem;
						.name {
							font-size: 1.4rem;
							color: $grey100;
							height: 2.7rem;
							margin-top: 0.3rem;
							margin-bottom: 0.3rem;
						}
						.rating {
							.star {
								box-sizing: border-box;
								display: inline-block;
								width: 1.2rem;
								height: 1.2rem;
								margin-left: 0.2rem;
							}
							span:first-child {
								margin-left: 0;
							}
							.golden {
								background: url(../img/star_golden.png) no-repeat 50% 50%;
							}
							.grey {
								background: url(../img/star_grey.png) no-repeat 50% 50%;
							}
						}
					}
				}
			}

			}
		}
	}
	// }
}
@import 'footer';
