@import "./stuff/global";

.header {
	height: 7rem;
	justify-content: flex-start ;
	box-shadow: 0px 1px 4px $grey007;
	.wrap {
		display: flex;
		height: 100%;
		margin: auto;
		width: $containerlarge;
	@media (max-width: 1439px) {
		width: $containerdesktop;
	}
	@media (max-width: 1024px) {
		width: $containertablet;
		justify-content: space-between;
	}
	@media (max-width: 768px) {
		width: $containermobile;
		justify-content: space-between;
	}
	
	}
	.logo {
		margin-right: 30.4rem;
		align-self: center;
		@media (max-width: 768px) {
			margin: 0 0;
		}
	}
	nav {
		@media (max-width: 1024px) {
			display: none;
		}
		.nav {
			display: flex;
			align-items: stretch;
			line-height: 4.5rem;
			list-style: none;
			.nav_item {
				margin-left: 1.6rem;
				padding: 1rem;
				cursor: pointer;
				a {
					text-decoration: none;
					font-size: 1.4rem;
					color: $grey050;
					vertical-align: middle;
				}
				&.active {
						border-bottom: 0.3rem solid $blue;
						color: $grey100;
				}
			}
		}
	}
	.hamburger {
		display: none;

		@media (max-width: 1024px) {
			display: block;
			width: 2.1rem;
			height: 1.4rem;
			background: url(../img/icon_burger.png) 0 0 no-repeat;
			align-self: center;
		}
	}

}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: $containerlarge;
	margin: 0 auto;
	z-index: 1;
	@media (max-width: 1439px) {
		width: $containerdesktop;
	}
	@media (max-width: 1024px) {
		width: $containertablet;
		justify-content: space-around;
	}
	@media (max-width: 768px) {
		width: $containermobile;
		justify-content: center;
	}
	header {
		display: flex;
		width: 100%;
		height: 8.3rem;
		color: $grey100;
		border-bottom: 0.1rem solid $grey010;
		align-items: flex-end;
		@media (min-width: 768px) {
		text-align: left;
		}
		@media (min-width: 1440px) {
			justify-content: space-between;
		}
		.list_title {
			font-size: 2.4rem;
			width: 16rem;
			height: 3.3rem;
			text-align: left;
			margin-bottom: 1rem;
		}
		.list_view_icons {
			display: none;
			cursor: pointer;
			width: 6.6rem;
			height: 1.8rem;
			margin-bottom: 1.8rem;
			@media (min-width: 1440px) {
				display: flex;
				align-items: center;
			}
			.table_view {
				width: 3.3rem;
				height: 1.8rem;
				background: url(../img/icon_table_view.png) no-repeat 0% 50%;
			}
			.card_view {
				width: 3.3rem;
				height: 1.8rem;
				border-left: 0.1rem solid $grey010; 
				background: url(../img/icon_card_view.png) no-repeat 100% 50%;;
			}
		}
	}

	.card {
		
		width: 28.2rem;
		height: 48.9rem;
		border-radius: 0.2rem;
		border: 0.1rem solid $grey010;
		padding-top: 3rem;
		margin-top: 4rem;
		@media (max-width: 1024px) {
		&nth-child(2n) {
			margin-left: 2.4rem;
		}
	}
		.card_header {
			padding-left: 2.9rem;
			height: 7.4rem;
			display: flex;
			align-items: flex-start;
			.company {
				margin-left: 2rem;
				.name {
					font-size: 2rem;
					color: $grey100;
					background-color: #fff;
					height: 2.7rem;
					margin-top: 0.4rem;
					margin-bottom: 0.5rem;

				}
				.rating {
					.star {
						box-sizing: border-box;
						display: inline-block;
						width: 1.588rem;
						height: 1.6rem;
						margin-left: 0.265rem;
					}
					span:first-child {
						margin-left: 0;
					}
					.golden {
						background: url(../img/star_golden.png) no-repeat 50% 50%;
					}
					.grey {
						background: url(../img/star_grey.png) no-repeat 50% 50%;
					}
				}
			}
		}


		.card_item {
			margin-left: 3rem;
			margin-right: 3rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 4.1rem;
			border-bottom: 0.1rem solid $grey005;
			&:first-child {
				height: 3rem;
			}
			&:nth-child(2), &:nth-child(3) {
				border-bottom: 0.1rem solid $grey010;
			}
			
			&:nth-child(7) {
				border-bottom: none;
			}
			.card_item_header {
				font-size: 1.4rem;
				color: $grey050;
				letter-spacing: -0.03rem;

			}
			.card_item_value {
				font-size: 1.4rem;
				color: $grey090;
				
			}
		}
		.help {
			background-color: $helpbg;
			font-size: 1.1rem;
			color: $blue;
			line-height: 1.4rem;
			text-align: center;
			cursor: pointer;
		}
		.price {
			font-size: 3.6rem;
			font-weight: 300;
			text-align: center;
			height: 9.8rem;
			line-height: 8.5rem;
			span:last-child {
				font-size: 2rem;
				font-weight: 500;
			}

		}
		.button {
			border: none;
			border-radius: 0;
			width: 14.1rem;
			height: 4rem;
			font-size: 1.2rem;
			line-height: 1.4rem;
			font-weight: 600;
			letter-spacing: 0.084rem;
			text-transform: uppercase;
			cursor: pointer;
			margin-bottom: -0.1rem;
		}	
		.overview {
			background: $white;
			color: $blue;
			border: 0.1rem solid $grey010;
			margin-left: -0.1rem;
			padding-left: 0.4rem;
		}
		.buy {
			color: white;
			background: blue;
			border: none;
			padding-left: 0.8rem;
			margin-right: -0.1rem;			
		}
		
	}
}
footer {	
	height: 8rem;
	border-top: 0.1rem solid $grey010;
	border-radius: 0.2rem;
	margin-top: 4rem;
	.wrap {
		height: 100%;
		margin: auto;
		display: flex; 
		justify-content: flex-start;
		align-items: center;
		width: $containerlarge;
		@media (max-width: 1439px) {
			width: $containerdesktop;
		}
		@media (max-width: 1024px) {
			width: $containertablet;
		}
		@media (max-width: 768px) {
			width: $containermobile;
		}
	}
	.footer_nav {
		display: flex;
		align-items: stretch;
		@media (max-width: 1024px) {
			display: none;
		}
		li {
			list-style-type: none;
		}
		ul {
			margin-left: 0;
			padding-left: 0;
		}
		a {
			text-decoration: none;
			color: $black070;
		}
	}
	.copyright {
		font-size: 1.2rem;
	}
	.footer_nav_item {
		color: $black070;
		font-size: 1.2rem;
		margin-left: 3rem;    
	}
	
}